.App{
  max-width: 1200px;
  margin: auto;
}

.App nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  
}

ul li{
  list-style-type: none;
  margin: 0 20px;
  
}

a{
  color: #555555;
  text-decoration: none;
}

a.active{
  color: blue;
}
